<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dining Directory</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif;  background-size: cover; background-color: #f7f2df">
    <nav style="height: 80px; background-color: red; padding: 15px; display: flex; justify-content: space-between; align-items: center;margin-bottom: 50px;">
        <a href="/" style="color: white; text-decoration: none; font-size: 3rem; font-weight: bold;">Dining Directory</a>
        <div>
            <a href="/order" style="color: white; text-decoration: none; font-size: 2rem; margin-right: 20px;">Order</a>
            <a href="/register" style="color: white; text-decoration: none; font-size: 2rem;">Register</a>
        </div>
    </nav>

        <center >
                <div style=" width: 1400px; background-color: white; height: 450px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);padding-top: 2.5%;">

            <h1 style=" font-size: 4rem; margin-top: 5%;">Welcome to Dining Directory</h1>

            <h1 style=" font-size: 2rem; margin-top: 5%;">Find and order meals from your favorite restaurants </h1>




                </div>

         </center>



</body>
</html>
